{% extends "base.html" %}

{% block title %}A New Friend{% endblock %}

{% block blurb %}A New Friend{% endblock
%}

{% block content %}
<div align= "center">
  <form action= {{url_for('index')}} method = 'get'> 

   <input type="text" name="number" placeholder= "Phone Number">
   <input type="text" name="message" placeholder= "Enter Message">

   <button type="submit">Send Text</button>

  </form> 
  <form action= {{url_for('view')}} method = 'get'>

    <button type="submit"> View Conversations </button>
  </div> 
{% endblock %}
